Source: ros-kinetic-ethercat-hardware
Section: misc
Priority: extra
Maintainer: David Feil-Seifer <dave@cse.unr.edu>
Build-Depends: debhelper (>= 9.0.0), liblog4cxx10-dev, ros-kinetic-catkin, ros-kinetic-diagnostic-msgs, ros-kinetic-diagnostic-updater, ros-kinetic-eml, ros-kinetic-message-generation, ros-kinetic-pluginlib, ros-kinetic-pr2-hardware-interface, ros-kinetic-pr2-msgs, ros-kinetic-realtime-tools, ros-kinetic-roscpp
Homepage: http://ros.org/wiki/ethercat_hardware
Standards-Version: 3.9.2

Package: ros-kinetic-ethercat-hardware
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, liblog4cxx10-dev, ros-kinetic-diagnostic-msgs, ros-kinetic-diagnostic-updater, ros-kinetic-eml, ros-kinetic-message-runtime, ros-kinetic-pluginlib, ros-kinetic-pr2-hardware-interface, ros-kinetic-pr2-msgs, ros-kinetic-realtime-tools, ros-kinetic-roscpp
Description: Package for creating a hardware interface to the robot using the EtherCAT motor controller/driver
